<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="../static/jquery-3.1.0.slim.min.js"></script>
</head>

<body>

{% include "navbar.html" %}
    <div class="container">
{#        <div class="page_navigation"></div>#}

        <h1>Search Result</h1>
        <ul class="collection with-header content" id="list">
            {% for page in results %}
                <li class="collection-item">
                    <div class="keyword">
                        <a href="/news/{{ page.id }}">{{ page.title }}</a>
                        <span class="secondary-content">{{ page.time }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <ul class="pagination" id="controller">
            <li class="active blue lighten-4"><a href="#">1</a></li>
            <li class="waves-effect"><a href="#">2</a></li>
            <li class="waves-effect"><a href="#">3</a></li>
            <li class="waves-effect"><a href="#">4</a></li>
            <li class="waves-effect"><a href="#">5</a></li>
            <li class="waves-effect"><a href="#">6</a></li>
            <li class="waves-effect"><a href="#">7</a></li>
            <li class="waves-effect"><a href="#">8</a></li>
            <li class="waves-effect"><a href="#">9</a></li>
            <li class="waves-effect"><a href="#">10</a></li>
            <li class="waves-effect"><a href="#">11</a></li>
            <li class="waves-effect"><a href="#">12</a></li>
            <li class="waves-effect"><a href="#">13</a></li>
            <li class="waves-effect"><a href="#">14</a></li>
            <li class="waves-effect"><a href="#">15</a></li>
            <li class="waves-effect"><a href="#">16</a></li>
            <li class="waves-effect"><a href="#">17</a></li>
            <li class="waves-effect"><a href="#">18</a></li>
            <li class="waves-effect"><a href="#">19</a></li>
            <li class="waves-effect"><a href="#">20</a></li>
            <li class="waves-effect"><a href="#">21</a></li>
            <li class="waves-effect"><a href="#">22</a></li>
            <li class="waves-effect"><a href="#">23</a></li>
            <li class="waves-effect"><a href="#">24</a></li>
            <li class="waves-effect"><a href="#">25</a></li>
            <li class="waves-effect"><a href="#">26</a></li>
            <li class="waves-effect"><a href="#">27</a></li>
        </ul>
    </div>
    <script>
        'use strict';
        const $list = $('#list');
        const $controller = $('#controller');
        const lis = $list.children('li');
        const ctrls = $controller.children('li');
        const len = lis.length;
        const size = parseInt(len / 20) + 1;

        $(document).ready(function() {
            for (let i = size; i < 27; i++) {
                $(ctrls[i]).hide();
            }

            for (let i = 20; i < len; i++) {
                $(lis[i]).hide();
            }
        });

        ctrls.click(function() {
            const pageId = parseInt($(this).text()) - 1;
            for (let i = 0; i < len; i++) {
                $(lis[i]).hide();
            }

            for (let i = pageId * 20; i < (pageId + 1) * 20; i++) {
                $(lis[i]).show();
            }

            for (let i = 0; i < 27; i++) {
                $(ctrls).attr('class', 'wave-effect');
            }

            $(this).attr('class', 'active blue lighten-4');
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() 
        {
            var dict = {{ dict|safe }};
            var key=dict['keywords'];
            console.log(key)
            var keyword = key.split('_');
            console.log(keyword)
            $(".keyword").html(function() 
            {
                var txt = $(this).html();
                for (i=0; i < keyword.length; i++)
                {
                    txt = txt.replace(keyword[i],"<font color=\"red\">"+keyword[i]+"</font>");
                    console.log(keyword[i])
                } 
                return txt;
            });           
        });
    </script>
    <center>
        <div class="footer">
            <p>&copy; john_mmm</p>
        </div>
    </center>
</body>
</html>